*{
    text-align: center;
}
body {
	text-align: center;			
  	font-family: Verdana, Helvetica, sans-serif;
  	background-color: white;
 	margin: 10px;
 	padding: 10px;
}

.addForm table{
	margin: auto;
}
#wrapper{
	width: 750px;
	margin: auto;
	background-color: #DDD;
	border: 1px solid gray;
	padding: 10px;
}

.edit{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.greetingDiv{
	text-align: left;
}
