<div class="greetingDiv">

	<span data-dojo-attach-point="authorNode">${author}</span>
	<span>wrote</span>
	<span data-dojo-attach-point="greeting" data-dojo-type="dijit/InlineEditBox"
			data-dojo-props="editor:'dijit/form/ValidationTextBox',
                editorParams:{required: 'true', regExp:'.{1,10}', invalidMessage:'Max length 10 characters!'}"
            autoSave="false">

		${content}
	</span>

	<span data-dojo-attach-point="dateNode"> -- Date: ${date}</span>
	<span data-dojo-attach-point="updateByNode" style="display: None"> -- Update by: ${userUpdate}</span>
	<span data-dojo-attach-point="timeUpdateNode" style="display: None"> -- Update time: ${dateUpdate}
	</span>

    <span class="delete" data-dojo-attach-point="deleteNode" style="display: None">[ Delete ]</span>

</div>