<div>
	<hr>
	<span data-dojo-attach-point="authorNode">${author}</span>
	<span>wrote</span>
	<span data-dojo-attach-point="greetingNode">${content}</span>

	<div data-dojo-attach-point="editContainerNode" style="display: None">

		<input data-dojo-type="dijit/form/ValidationTextBox" value="${content}" required="true"
				data-dojo-attach-point="message" data-dojo-props="regExp:'.{10}',
				invalidMessage:'Max length 10 characters!'"
				style="length: 500px"/>
		<button type="button" value="Save" data-dojo-attach-point="saveButton">Save</button>
		<button type="button" value="Cancel" data-dojo-attach-point="cancelButton">Cancel</button>

	</div>

	<span data-dojo-attach-point="dateNode"> -- Date: ${date}</span>
	<span data-dojo-attach-point="updateByNode" style="display: None"> -- Update by: ${userUpdate}</span>
	<span data-dojo-attach-point="timeUpdateNode" style="display: None"> -- Update time: ${dateUpdate}
	</span>

	<span data-dojo-attach-point="modifyNode" style="display: None">
	[
		<span class="edit" data-dojo-attach-point="editNode">Edit</span>
		<span></span>
		<span class="edit" data-dojo-attach-point="deleteNode" style="display: None">Delete</span>
	]
	</span>
</div>