<div>
	<div data-dojo-attach-point="greetings" ></div>
	<br>
	<div data-dojo-attach-point="addGreeting" >
		Add Greeting:
		<input data-dojo-attach-point="contentArea" data-dojo-type="dijit/form/Textarea"/>
		</br>
		Guestbook name:
		<input value="${guestbookname}" data-dojo-attach-point="guestbookName" data-dojo-type="dijit/form/TextBox"/>
		<br>
		<div data-dojo-attach-point="submitButton" data-dojo-type="dijit.form.Button">Submit</div>
		<button data-dojo-attach-point="abc" data-dojo-event="click" data-dojo-type="dijit.form.Button">zzzz</button>
	</div>
</div>
