<!DOCTYPE html>
{% autoescape on %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <p>Guestbook name: {{guestbook_name}}</p>
    <p>List of greeting </p><hr>
    {% if greetings %}
        {% for greeting in greetings %}
          {% if greeting.author %}
            <b>{{ greeting.author.email }}
            {% if current_user and current_user.user_id == greeting.author.identity %}
                (You)
                {% else %}
            {% endif %}
            </b> wrote: -
          {% else %}
           An anonymous person wrote: -
          {% endif %}
          {{ greeting.content }} -
            Date: {{greeting.date}}
            {% if admin %}
               [ <a href="/delete/?key={{greeting.key.urlsafe}}&guestbook_name={{guestbook_name}}">Delete</a>
                <a href="/edit/?key={{greeting.key.urlsafe}}&guestbook_name={{guestbook_name}}">Edit</a> ]
            {% elif current_user and current_user.user_id == greeting.author.identity %}
                [<a href="/edit/?key={{greeting.key.urlsafe}}&guestbook_name={{guestbook_name}}">Edit</a> ]
            {% endif %}

            {% if greeting.user_update %}
                - updated by: {{greeting.user_update}}
            {% endif %}

            {% if greeting.date_update %}
                - Time updated: {{greeting.date_update}}
            {% endif %}
            <hr>
        {% endfor %}

    {% else %}
            <p><i>This Guestbook is empty!</i></p><hr>
    {% endif %}

    <a href="/sign/?guestbook_name={{guestbook_name}}">Add greeting</a>
    </br>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape on %}